<div class="container mt-3">
    <form (ngSubmit)="searchBooks(f)" #f="ngForm">
        <div class="form-row">
            <div class="col-10 col-md-10 mb-3">
                <input type="text" class="form-control" ngModel name="inputSearch" required
                    placeholder="Search a book by title">
            </div>
            <div class="col-2 col-md-2 mb-3">
                <button class="btn btn-primary btn-block" [disabled]="f.invalid" type="submit">
                    <i class="fas fa-search">Search</i>
                </button>
            </div>
        </div>
    </form>
</div>